name: Mirror to GitLab

on:
  push:
    branches: [ "**" ]  # All branches
  delete:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Full History

      - name: Push to GitLab
        run: |
          GL_REPO="${{ github.event.repository.name }}"

          git remote add gitlab "https://${{ secrets.GL_USERNAME }}:${{ secrets.GL_TOKEN }}@gitlab.com/${{ secrets.GL_USERNAME }}/${GL_REPO}.git"
          git push gitlab --mirror
